#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 3px;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}

.front-page-container {
  margin-top: 100px;
}

.show-creators{
  margin-left: 11.3rem;
  display: grid;
  grid-template-columns: 700px 700px;
}

.Creator {
  position: relative;
  width: 30em;
  height: 30em;
  padding: 2em;
  margin: 2em;
  border: 1px solid black;
  border-radius: 1%;
  background-color: rgb(252, 248, 242);
}

img.creator {
  width: 150px;
  height: 150px;
}

.card-update-link {
  position: absolute;
  top: 0em;
  right: 1em;
}

.creator-link {
  position: absolute;
  top: 1em;
  left: 1em;
}

.creator-link.detail{
  position: static;
}

.read-the-docs {
  color: #888;
}
