#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  margin: 5px;
}

.show-creators{
  display: flex;
}

.Creator {
  position: relative;
  width: 25em;
  height: 25em;
  padding: 2em;
  margin: 2em;
  border: 1px solid black
}


.card-update-link {
  position: absolute;
  top: 0em;
  right: 1em;
}

.read-the-docs {
  color: #888;
}
